<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <!--<a href="~/lib/twitter-bootstrap/css/bootstrap.css.map">~/lib/twitter-bootstrap/css/bootstrap.css.map</a>
    <a href="~/lib/twitter-bootstrap/css/bootstrap.min.css.map">~/lib/twitter-bootstrap/css/bootstrap.min.css.map</a>
    <a href="~/lib/twitter-bootstrap/css/bootstrap.rtl.css.map">~/lib/twitter-bootstrap/css/bootstrap.rtl.css.map</a>
    <a href="~/lib/twitter-bootstrap/css/bootstrap.rtl.min.css.map">~/lib/twitter-bootstrap/css/bootstrap.rtl.min.css.map</a> -->
</head>
<body>
    <div class="container">
        <header>
            <h1>This is the header area.</h1>
        </header>
        @RenderBody()
        <footer>
            <h1>This is the footer area.</h1>
        </footer>
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery.slim.js"></script>
    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <!--<a href="~/lib/jquery/jquery.min.map">~/lib/jquery/jquery.min.map</a>
    <a href="~/lib/jquery/jquery.slim.min.map">~/lib/jquery/jquery.slim.min.map</a> -->

    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.esm.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.esm.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <!--<a href="~/lib/twitter-bootstrap/js/bootstrap.bundle.js.map">~/lib/twitter-bootstrap/js/bootstrap.bundle.js.map</a>
    <a href="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js.map">~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js.map</a>
    <a href="~/lib/twitter-bootstrap/js/bootstrap.esm.js.map">~/lib/twitter-bootstrap/js/bootstrap.esm.js.map</a>
    <a href="~/lib/twitter-bootstrap/js/bootstrap.esm.min.js.map">~/lib/twitter-bootstrap/js/bootstrap.esm.min.js.map</a>
    <a href="~/lib/twitter-bootstrap/js/bootstrap.js.map">~/lib/twitter-bootstrap/js/bootstrap.js.map</a>
    <a href="~/lib/twitter-bootstrap/js/bootstrap.min.js.map">~/lib/twitter-bootstrap/js/bootstrap.min.js.map</a> -->
</body>
</html>