@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Hello";       //Added ViewData variable “Title” with a string value “Hello”. This will be set as the page title
}
<h1>@ViewBag.Message</h1>